<div x-data="{ isVisible: true }" id="vehicle_form">
    <div x-show="isVisible" class="box container">
        <div align="right">
            <button class="delete" @click="isVisible = !isVisible"></button>
        </div>
        {% include 'base/notifications.html' %}
        <div>

            <form hx-post="{{data.return}}" hx-target="#vehicle_form" hx-swap="outerHTML">
                <div class="field">
                    <label class="label">Registre seu veículo</label>
                    <div class="control">
                        Modelo: <input class="input" type="text" name='model' placeholder="Digite o modelo do veículo">
                    </div>
                    <div class="control">
                        Placa: <input class="input" type="text" name='licensePlate'
                            placeholder="digite a placa do veículo">
                    </div>
                    <hr>
                    <div align="right">
                        <button class="button is-primary" data-loading-class="is-loading"><p><i class="fa-solid fa-floppy-disk fa-lg"></i> Salvar</p></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>