label.req:after{
    content: ' *';
    color: red;
}

.menu-buttons{
    margin-bottom: 10px;
}

.content-button{
    margin-bottom: 10px;
    margin-right: 10px;
}

.box {
    margin-right: 10px;
    margin-left: 10px;
}

.accordion {
    display: flex;
    justify-content: space-between;
}