<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

<div x-data="{ isVisible: true }" id="signup_form">
    <div x-show="isVisible" class="box container">
        <div align="right">
            {% if current_user.is_anonymous == False%}
            <button class="delete" @click="isVisible = !isVisible"></button>
            {% endif %}
        </div>
        {% include 'base/notifications.html' %}
        <form hx-post="{{data.return}}" hx-target="#containerNotifications" hx-swap="outerHTML">
            <div class="control">
                <label class="label">Nome:</label>
                <input class="input" type="text" name='name' placeholder="Digite seu nome">
            </div>
            <div class="control">
                <label class="label">Identificação (NIF):</label><input class="input" type="number"
                    name='userIdentification' placeholder="Digite seu NIF">
            </div>
            <div class="control">
                <label class="label">Email:</label><input class="input" type="email" name='email'
                    placeholder="Digite seu email">
            </div>
            <div class="control">
                <label class="label">Senha:</label><input class="input" type="password" name='password'
                    placeholder="Digite sua senha">
            </div>

            <div class="control">
                <label class="label">Telefone:</label><input class="input" type="tel" name='phone'
                    placeholder="Digite seu telefone">
            </div>
            <div class="control">
                <label class="label">Endereço:</label><input class="input" type="text" name='address'
                    placeholder="Digite seu endereço">
            </div>

            <div class="control">
                <label class="label">Data de nascimento:</label><input class="input" type="date" name='birthDate'
                    placeholder="Digite sua data de nascimento">
            </div>
            {% if current_user.is_anonymous is false %}
            <div class="control">
                <label class="label">Trabalha desde:</label><input class="input" type="date" name='startWorkDate'
                    placeholder="Digite desde quando esta pessoa trabalha nesta empresa">
            </div>
            {% endif %}
            <hr>
            <div align="right">
                {% if current_user.is_anonymous %}
                <button class="button is-light" hx-trigger ='click' hx-target="#signup_form" hx-get="{{ url_for('login') }}" hx-swap="innerHTML" data-loading-class="is-loading"><p><i class="fa-solid fa-arrow-left fa-lg"></i></p></button>
                {% endif %}
                <button id="a" class="button is-primary" data-loading-class="is-loading"><p><i class="fa-solid fa-floppy-disk fa-lg"></i> Salvar</p></button>
            </div>
        </form>
    </div>
    <br>
</div>
