
<div x-data="{ isVisible: true }" id="signup_form">
    <div x-show="isVisible" class="box">
        <div align="right">
            {% if current_user.is_anonymous == False%}
            <button class="delete" @click="isVisible = !isVisible"></button>
            {% endif %}
        </div>
        {% if current_user.is_anonymous == False%}
        <h3 class="title is-4">Adicionar colaborador</h3>
        <hr>
        {% endif %}
        {% include 'base/notifications.html' %}
        <form hx-post="{{data.return}}" hx-target="{{data.target}}" hx-swap="outerHTML">
            <div class="control">
                <label class="label req">Nome:</label>
                <input class="input" type="text" name='name' placeholder="Digite seu nome" required>
            </div>
            <div class="control">
                <label class="label req">Identificação (NIF):</label><input class="input" type="number"
                    name='userIdentification' placeholder="Digite seu NIF" required>
            </div>
            <div class="control">
                <label class="label req">Email:</label><input class="input" type="email" name='email'
                    placeholder="Digite seu email" required>
            </div>
            <div class="control">
                <label class="label req">Senha:</label><input class="input" type="password" name='password'
                    placeholder="Digite sua senha" required>
            </div>

            <div class="control">
                <label class="label req">Telefone:</label><input class="input" type="tel" name='phone'
                    placeholder="Digite seu telefone" required>
            </div>
            <div class="control">
                <label class="label">Endereço:</label><input class="input" type="text" name='address'
                    placeholder="Digite seu endereço">
            </div>

            <div class="control">
                <label class="label req">Data de nascimento:</label><input class="input" type="date" name='birthDate'
                    placeholder="Digite sua data de nascimento" required>
            </div>
            {% if current_user.is_anonymous is false %}
            <div class="control req">
                <label class="label">Trabalha desde:</label><input class="input" type="date" name='startWorkDate'
                    placeholder="Digite desde quando esta pessoa trabalha nesta empresa" required>
            </div>
            {% endif %}
            <hr>
            <div align="right">
                {% if current_user.is_anonymous %}
                <button class="button is-light" hx-trigger='click' hx-target="#signup_form"
                    hx-get="{{ url_for('login') }}" hx-swap="innerHTML" data-loading-class="is-loading">
                    <p><i class="fa-solid fa-arrow-left fa-lg"></i></p>
                </button>
                {% endif %}
                <button id="a" class="button is-primary" data-loading-class="is-loading">
                    <p><i class="fa-solid fa-floppy-disk fa-lg"></i> Salvar</p>
                </button>
            </div>
        </form>
    </div>
    <br>
</div>