{% block header %}
<!-- Alpine Plugins -->
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/mask@3.x.x/dist/cdn.min.js"></script>

<!-- Alpine Core -->
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

{% endblock %}

{% block content %}
<br>
<div class="column">
    <h3 class="title is-3">Dados da empresa</h3>
    <div class="box">

        <div class="fixed-grid has-1-cols">
            <div class="grid">
                <div class="cell"><span class="tag is-medium"><p><b>Nome:</b> {{ company.name }}</p></span></div>
                <div class="cell"><span class="tag is-medium"><p><b>Descrição:</b> {{company.description}}</p></span></div>
                <div class="cell"><span class="tag is-medium"><p><b>Endereço:</b> {{ company.address }}</p></span></div>
                <div class="cell"><span class="tag is-medium"><p><b>VatCode (NIF):</b> {{company.vatcode}}</p></span></div>
            </div>
        </div>
    </div>
</div>
<div class="column">
    <span class="title is-3">Colaboradores</span>
    <span class="icon has-text-info">
        <button class="fas fa-info-circle" onclick="tutorial('employees');"></button>
    </span>
    <span style="float: right">
        {% if current_user.userTypeId == 1 %}
        <button id="addEmployee" class="button" hx-target="#addUser" hx-swap="innerHTML"
            hx-get="/signup_worker/{{company.id}}" data-loading-class="is-loading">
            <p><i class="fa-solid fa-plus fa-lg"></i> <i class="fa-solid fa-user fa-lg"></i></p>
        </button>
        {% endif %}
    </span>
</div>

<div id="workers" class="box">
    <div class="fixed-grid has-1-cols-mobile">
        <div class="grid">
            {% for worker in users_company %}
            <span class="cell tag is-medium has-text-dark has-background-info-light"
                style="display: flex; justify-content: space-between;"><i class="fa-solid fa-id-card"></i>
                <p>{{worker.name}}</p>
                {% if worker.id == company.idUser %}
                <p></p>
                {% else %}
                <a class="has-text-dark" hx-delete="/worker/delete/{{worker.id}}" hx-target="#workers" hx-swap="innerHTML" hx-confirm="Tem certeza que deseja remover este colaborador?"><i class="fa-solid fa-trash fa-lg"></i></a>
                {% endif %}
            </span>
            {% endfor %}
        </div>
    </div>
</div>

<div id="addUser"></div>
<div class="column">
    <span class="title is-3">Veículos</span>
    <span class="icon has-text-info">
        <button class="fas fa-info-circle" onclick="tutorial('vehicles');"></button>
    </span>
    <span style="float: right">
        {% if current_user.userTypeId == 1 %}
        <button id="addVehicle" class="button" hx-target="#carForm" hx-swap="innerHTML"
            hx-get="/vehicle/add/{{company.id}}" data-loading-class="is-loading">
            <p><i class="fa-solid fa-plus fa-lg"></i> <i class="fa-solid fa-car fa-lg"></i></p>
        </button>

        {% endif %}
    </span>
</div>

<div class="box" id="vehicles">
    <div class="fixed-grid has-1-cols-mobile">
        <div class="grid">
            {% for vehicle in vehicles_company %}
            {% if vehicle %}
            <span class="cell tag is-medium has-text-dark has-background-warning-light"
                style="display: flex; justify-content: space-between;"><i class="fa-solid fa-car-side"></i>
                <p>{{vehicle.manufacturer}} {{vehicle.model}} {{vehicle.color}}
                    ({{vehicle.licensePlate}})</p>
                <a class="has-text-dark" hx-delete="/vehicle/delete/{{vehicle.id}}" hx-target="#vehicles" hx-swap="innerHTML" hx-confirm="Tem certeza que deseja remover este carro?"><i class="fa-solid fa-trash fa-lg"></i></a>
            </span>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div id="carForm"></div>

<h3 class="title is-3">Mapa</h3>
<div class="box" x-data="mapData()" x-init="initMap({{company.id}})">
    <div id="map"  style="height: 400px; z-index: 2;" x-show="show"></div>
    <div id="mapError" x-show="! show">
        <h4 class="title is-5" align="center">Não há dados suficientes para o mapa.</h4>
    </div>
</div>
{% endblock %}