<div class="box">
<form hx-post="/company" hx-target=".containerNotifications">
    <div class="field">
        <label class="label">Registre sua empresa</label>
        <div class="control">
        <label class="label" for="manufacturer" for="name">Nome: </label><input class="input" type="text" name='name' id="name" placeholder="Digite o nome de sua empresa">
        </div>
        <div class="control">
        <label class="label" for="description">Descrição: </label><input class="input" type="text" name='description' id='description' placeholder="Digite a descrição da sua empresa">
        </div>
        <div class="control">
        <label class="label" for="address">Endereço: </label><input class="input" type="text" name='address' id="address" placeholder="Digite o endereço de sua empresa">
        </div>
        <div class="control">
        <label class="label" for="phone">Telefone: </label><input class="input" type="tel" name='phone' id="phone" placeholder="Digite o número de telefone sua Empresa">
        </div>
        <div class="control">
        <label class="label" for="vatcode">Vatcode(NIF): </label><input class="input" type="text" name='vatcode' id="vatcode" placeholder="Digite o VatCode (NIF da Empresa)">
        </div>
        <hr>
        <div align="right">
            <button class="button is-primary" data-loading-class="is-loading"><p><i class="fa-solid fa-floppy-disk fa-lg"></i> Salvar</p></button>
        </div>
        
    </div>
    </form>
</div>