<div class="box">
<form hx-post="/company" hx-target=".containerNotifications">
    <div class="field">
        <label class="label">Registre sua empresa</label>
        <div class="control">
          Nome: <input class="input" type="text" name='name' placeholder="Digite o nome de sua empresa">
        </div>
        <div class="control">
        Descrição: <input class="input" type="text" name='description' placeholder="Digite a descrição da sua empresa">
        </div>
        <div class="control">
        Endereço:<input class="input" type="text" name='address' placeholder="Digite o endereço de sua empresa">
        </div>
        <div class="control">
        Telefone:<input class="input" type="tel" name='phone' placeholder="Digite o número de telefone sua Empresa">
        </div>
        <div class="control">
        Vatcode(NIF):<input class="input" type="text" name='vatcode' placeholder="Digite o VatCode (NIF da Empresa)">
        </div>
        <hr>
        <div align="right">
            <button class="button is-primary" data-loading-class="is-loading"><p><i class="fa-solid fa-floppy-disk fa-lg"></i> Salvar</p></button>
        </div>
        
    </div>
    </form>
</div>