<div class="box">
    {% include 'base/notifications.html' %}
<form action="/company" method="post">
    <div class="field">
        <label class="label">Registre sua empresa</label>
        <div class="control">
          Nome: <input class="input" type="text" name='name' placeholder="Digite o nome de sua empresa">
        </div>
        <div class="control">
        Descrição: <input class="input" type="text" name='description' placeholder="Digite a descrição da sua empresa">
        </div>
        <div class="control">
        Endereço:<input class="input" type="text" name='address' placeholder="Digite o endereço de sua empresa">
        </div>
        <div class="control">
        Telefone:<input class="input" type="tel" name='phone' placeholder="Digite o número de telefone sua Empresa">
        </div>
        <div class="control">
        Vatcode(NIF):<input class="input" type="text" name='vatcode' placeholder="Digite o VatCode (NIF da Empresa)">
        </div>
        <hr>
        <div align="right">
            <button class="button is-light" data-loading-class="is-loading"><p>Registrar <i class="fa-solid fa-file-arrow-down fa-lg"></i></p></button>
        </div>
        
    </div>
    </form>
</div>