<div class="fixed-grid has-1-cols-mobile">
    <div class="grid">
        {% for worker in users_company %}
        <span class="cell tag is-medium has-text-dark has-background-info-light"
            style="display: flex; justify-content: space-between;"><i class="fa-solid fa-id-card"></i>
            <p>{{worker.name}}</p>
            <a class="has-text-dark" hx-delete="/worker/delete/{{worker.id}}" hx-target="#workers" hx-swap="innerHTML" hx-confirm="Tem certeza que deseja remover este colaborador?"><i class="fa-solid fa-trash fa-lg"></i></a>
        </span>
        {% endfor %}
    </div>
</div>