<div class="box" id="user_info">
    {% include 'base/notifications.html' %}
        <div class="fixed-grid has-1-cols">
            <div class="grid">
                <div class="cell"><span class="tag is-medium">
                        <p><b>Nome:</b> {{ current_user.name }}</p>
                    </span></div>
                <div class="cell"><span class="tag is-medium">
                        <p><b>identificação do usuário:</b> {{ current_user.userIdentification
                            }}</p>
                    </span></div>
                <div class="cell"><span class="tag is-medium">
                        <p><b>Telefone:</b> {{ current_user.phone }}</p>
                    </span></div>
                <div class="cell"><span class="tag is-medium">
                        <p><b>Endereço:</b> {{ current_user.address }}</p>
                    </span></div>
                <div class="cell"><span class="tag is-medium">
                        <p><b>Email:</b> {{ current_user.email }}</p>
                    </span></div>
                <div class="cell"><span class="tag is-medium">
                        <p><b>Data de nascimento:</b> {{ current_user.birthDate }}</p>
                    </span></div>
                <div class="cell"><span class="tag is-medium">
                        <p><b>Começou a trabalhar em:</b> {{ current_user.startWork }}</p>
                    </span>
                </div>
                <div class="cell"><span class="tag is-medium">
                        <p><b>Senha:</b> **********</p>
                    </span>
                    <button data-loading-class="is-loading" style="margin-left: 10px;" class="button is-danger is-small" hx-get="/profile/change_password" hx-swap="outerHTML">Alterar senha</button>
                </div>
            </div>
        </div>
    </div>