{% block content %}
{% include 'base/notifications.html' %}
<div class="container" align="center">
    <section class="hero">
        <div class="hero-body">
            <p class="title is-4">{% block title %}Um e-mail de confirmação fora enviado para o seu endereço de e-mail. <i class="fa-solid fa-envelope"></i> {% endblock %}</p>
            <p class="subtitle is-5">No e-mail haverá um link para a confirmação de seu registro.</p>
            <p class="subtitle is-6">Caso não consiga encontrar o e-mail lembre-se de verificar sua caixa de spam. </p>
        </div>
        <br>
        
    </section>
</div>
{% endblock %}