<!doctype html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://unpkg.com/htmx.org@1.9.11"
    integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/static/register_service_worker.js">
  </script>
  <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script>
  <script type="text/javascript">
    registerServiceWorker(
      "/static/sw.js",
      "BIQgErEfMAg3DSMCy85_kHVgE9uS3NSb5Rl4pmXPknmbrd4CvdvTMUwZ8K2RUxE2_6KkKh3VYG1tLaFRXiGURxA",
      "/api/push-subscriptions"
    );
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });

    });
  </script>
  <link rel="manifest" href="/static/manifest.json" />
  <!-- shepherd.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/shepherd.js/10.0.1/js/shepherd.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shepherd.js@10.0.1/dist/css/shepherd.css"/>
  <!-- shepherd.js -->
</head>

<body hx-ext="loading-states">
  <nav class="navbar is-dark is-hidden-mobile" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/static/windows11/LargeTile.scale-100.png" alt="">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        {% if current_user.is_anonymous is false %}
        <a href='/companies' class="navbar-item">
          Empresas
        </a>
        <a href='/timer' class="navbar-item">
          Timer
        </a>
        <a href='/reports' class="navbar-item">
          Relatórios
        </a>
        {% endif %}

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">

            {% if current_user.is_anonymous %}
           
            {% else %}
            <a class="button is-primary" href="/profile">
              <strong>{{current_user.name}}</strong>
            </a>
            <a class="button is-light" href="/logout">
              <p>
                <i class="fa fa-right-from-bracket"></i>
              </p>
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- Bottm bar -->
  <nav class="navbar is-dark is-fixed-bottom is-hidden-tablet" role="navigation">
    <div class="navbar-brand">
      {% if current_user.is_anonymous or not current_user._mail_verified %}
      {% else %}
      {% if current_user.userTypeId == 1%}
        <a id="companies" class="navbar-item is-expanded is-block has-text-centered" href='/companies'>
            <i class="fa fa-building"></i>
            <p class="is-size-7">Empresas</p>
        </a>
      {% endif %}
        <a id="timer" class="navbar-item is-expanded is-block has-text-centered" href='/timer'>
            <i class="fa fa-clock"></i>
            <p class="is-size-7">Timer</p>
        </a>
        <a id="reports" class="navbar-item is-expanded is-block has-text-centered" href='/reports'>
            <i class="fa fa-file-excel"></i>
            <p class="is-size-7">Relatórios</p>
        </a>
        <a id="profile" class="navbar-item is-expanded is-block has-text-centered" href='/profile'>
            <i class="fa fa-user"></i>
            <p class="is-size-7">Perfil</p>
        </a>
        <a class="navbar-item is-expanded is-block has-text-centered" href='/logout'>
          <i class="fa fa-right-from-bracket"></i>
          <p class="is-size-7">Logout</p>
      </a>
        {% endif %}
    </div>
</nav>
<script>
  var elementName = window.location.pathname.replace('/','');
  var element = document.getElementById(elementName);
  element.classList.add('has-background-grey-dark');
</script>
  <!-- End bottom bar -->
  <title>{% block title %}{% endblock %} - DBook  </title>
  {% block header %}
  {% endblock %}
  
  {% block content %}{% endblock %}
  <script src="/static/tutorial.js"></script>
</body>

</html>