<div class="fixed-grid has-1-cols-mobile">
    {% include 'base/notifications.html' %}
 <br>
    <div class="grid">
        
        {% for attachment in attachments %}
            <span hx-get="/attachment/detail/{{attachment.id}}" hx-target="#attachmentDetails"
                    class="cell button tag is-medium"
                    style="display: flex; justify-content: space-between;"><i class="fa-solid fa-paperclip"></i>
                    <p>{{attachment.name_pt}}</p>
                    <p>{{attachment.createdAt | dateformat('dd/MM/yyyy')}}</p>
                </span>
        {% endfor %}
    </div>
    <div align="center">
        {% if page.has_previous %}
        <button class="button " hx-get="/attachment/list/{{page.previous_page}}"><i class="fa-solid fa-chevron-left"></i></button>
        {% else %}
        <button class="button " disabled><i class="fa-solid fa-chevron-left"></i></button>
        {% endif %}
    {% for i in range(1, page.pages+1, 1) %}
        {% if page.page == i %}
        <button class="button " disabled><p style="font-size: 0.7em;">{{i}}</p></button>
        {% else %}
        <button class="button " hx-get="/attachment/list/{{i}}"><p style="font-size: 0.7em;">{{i}}</p></button>
        {% endif %}
    {% endfor %}
        {% if page.has_next %}
        <button class="button " hx-get="/attachment/list/{{page.next_page}}"><i class="fa-solid fa-chevron-right"></i></button>
        {% else %}
        <button class="button" disabled><i class="fa-solid fa-chevron-right"></i></button>
        {% endif %}
    </div>
</div>