<div class="modal-background"></div>
<div id="modal" class="modal-card">
    <header class="modal-card-head">
        <span class="icon has-text-info">
            <button class="fas fa-info-circle" onclick="tutorial('');"></button>
        </span>
        <p class="modal-card-title">Adicionar incidente</p>
        {% if page == "attachment" %}
        <div align="right">
            <button class="delete" x-on:click="closeModal()"></button>
        </div>
        {% else %}
        <div align="right">
            <button class="delete" x-on:click="closeAttachmentForm()"></button>
        </div>
        {% endif %}
    </header>
    <section class="modal-card-body" id="modalSection">
        {% include 'base/notifications.html' %}
        {% if page == "attachment" %}
        <form hx-post="/attachment/add/{{page}}" hx-target="#attachments" @close.window="closeModal()">
        {% else %}
        <form hx-post="/attachment/add/{{page}}" @close.window="closeAttachmentForm()">
        {% endif %}
            <div hx-get="/company/list" hx-trigger="load" hx-target="#idCompany" hx-swap="innerHTML"></div>
            <label class="label req" for="idCompany">Empresa: </label>
            <div class="select">
                <select id="idCompany" name="idCompany" hx-target="#selectCar" hx-post="/vehicle/select/"
                    hx-swap="innerHTML" required>
                </select>
            </div>
            <label class="label req" for="selectCar">Veículo: </label>
            <div class="select">
                <select id="selectCar" name="idVehicle" required>
                </select>
            </div>
            <br><br>
            <div class="control">
                <label class="label req" for="start_date">Data início</label>
                <input class="input" id="start_date" name="start_date" type="date" required>
                <label class="label req" for="end_date">Data fim</label>
                <input class="input" id="end_date" name="end_date" type="date" required>
            </div>
            <br>
            <div class="control">
                <p class="label req">Tipo de incidente:</p>
                <label class="radio">
                    <input type="radio" name="type" id="accident" class='radio' value="10" required>
                    Acidente
                </label>
                <label class="radio">
                    <input type="radio" name="type" id="time_excess" class='radio' value="11">
                    Excesso de horas
                </label>
                <label class="radio">
                    <input type="radio" name="type" id="vehicle_problem" class='radio' value="12">
                    Problema no veículo
                </label>
                <label class="radio">
                    <input type="radio" name="type" id="absence" class='radio' value="14">
                    Falta
                </label>
                <label class="radio">
                    <input type="radio" name="type" id="vacation" class='radio' value="15">
                    Férias
                </label>
                <label class="radio">
                    <input type="radio" name="type" id="other" class='radio' value="13">
                    Outro
                </label>
            </div>

            <div class="control">
                <label class="label" for="description">Descrição: </label>
                <textarea id="description" name="description" class="textarea" placeholder="Escreva aqui"></textarea>
            </div>
            <hr>
            <div class="buttons is-justify-content-right">
                <button id="a" class="button is-primary" data-loading-class="is-loading">
                    <p><i class="fa-solid fa-floppy-disk fa-lg"></i> Salvar</p>
                </button>
            </div>
        </form>

    </section>
</div>