<form action="/company" method="post">
    <div class="field">
        <label class="label">Register Your Company</label>
        <div class="control">
          <input class="input" type="text" name='name' placeholder="Type your Company Name">
        </div>
        <div class="control">
        <input class="input" type="text" name='description' placeholder="Type your Company Description">
        </div>
        <div class="control">
            <input class="input" type="text" name='address' placeholder="Type your Company Address">
        </div>
        <div class="control">
        <input class="input" type="tel" name='phone' placeholder="Type your Company telephone">
        </div>
        <div class="control">
            <input class="input" type="text" name='vatcode' placeholder="Type your VatCode (Company NIF)">
        </div>
        <button class="button">Register</button>
    </div>
    </form>