<div id='div_to_replace' class="box container">
    <div align="right">
    <button class="button" hx-target='#div_to_replace' hx-get="/blank" hx-swap="outerHTML">X</button>
    </div>
<form action="/login" method="post">
<div class="field">
    <div class="control">
        <label class="label">Name</label>

        <input class="input" type="email" name='email' placeholder="Type your email">
    </div>
    <div class="control">
        <label class="label">Password</label>

    <input class="input" type="password" name='password' placeholder="Type your password">
    </div>
    <hr>
    <div align="right">
        <button class="button is-primary">Login</button>
    </div>
</div>
</form>
</div>