<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
<div x-data="{ isVisible: true }" id="div_form">
    <div x-show="isVisible" class="box container">
        <div align="right">
            <button class="delete" @click="isVisible = !isVisible"></button>
        </div>
        {% include 'base/notifications.html' %}
        <form hx-post="{{data.return}}" hx-target="#div_form" hx-swap="outerHTML">
            <div class="field">
                <div class="control">
                    <label class="label">Email</label>

                    <input class="input" type="email" name='email' placeholder="Type your email">
                </div>
                <div class="control">
                    <label class="label">Password</label>

                    <input class="input" type="password" name='password' placeholder="Type your password">
                </div>
                <hr>
                <div align="right">
                    <button class="button is-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>