<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>
<body>
    <div class="box container">
    <form action="/login" method="post">
    <div class="field">
        <label class="label">Login</label>
        <div class="control">
          <input class="input" type="text" name='email' placeholder="Type your email">
        </div>
        <div class="control">
        <input class="input" type="password" name='password' placeholder="Type your password">
        </div>
        <button class="button">Login</button>
    </div>
    </form>
    </div>
</body>
</html>
