<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stopwatch with GPS</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
  <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>

</head>
<body>
  <div x-data="stopwatch()">
    <div class="container">
          <div class="stopwatch" >
            <h1 class="title">Stopwatch + Location + AlpineJS</h1>
            <div class="field has-addons" >
              <p class="control">
                <button class="button is-dark" @click="becomeAvailable" x-show="!isAvailable && !isWorking && locationEnabled">Ficar disponivel</button>
              </p>
         
              <p class="control">
                <button class="button is-primary" @click="startTimer" x-show="isAvailable && locationEnabled && !isWorking">Começar Trabalho</button>
              </p>
              <p class="control">
                <button class="button is-link" @click="stopTimer" x-show="timerRunning">Repousar</button>
              </p>
              <p class="control">
                <button class="button is-light" @click="endTimer">Fim do Expediente</button>
              </p>
            </div>
            <p class="subtitle is-3" x-text="formattedTime" ></p>
          </div>
    </div>
  </div>

  <script>
    let workingTimeStart = 0;
    let workedTime = 0;
    let availableTimeStart = 0;
    let availableTime = 0;
    let restTimeStart = 0;
    let restTime = 0;
    function stopwatch() {
      return {
        isAvailable: false,
        isResting: false,
        isWorking: false,
        timer: null,
        timerRunning: false,
        locationEnabled: false,
        hours: 0,
        minutes: 0,
        seconds: 0,
        initialCoords: {lat: 0, lon: 0}, // Initial coordinates

        timeEventHandler(type,eventType) {
          switch (type) {
              case "work":
                if (!this.isWorking && eventType === 'start' ) {
                  this.timeEventHandler("available","end");
                  this.isWorking = true;
                  workingTimeStart = Date.now();
                }
                else if (this.isWorking && eventType === 'end') {
                  this.isWorking = false;
                  workedTime += Date.now() - workingTimeStart;
                  console.log(workedTime)
                }
              break;
              
              case "rest":
                  if (!this.isResting && eventType === 'start') {
                      this.isResting = true;
                      restTimeStart = Date.now();
                  }
                  else if (this.isResting && eventType === 'end'){
                    this.isResting = false;
                    restTime += Date.now() - restTimeStart;
                  }
                  break;
              
              case "available":
                  if (!this.isAvailable && eventType === 'start') {
                      this.isAvailable = true;
                      availableTimeStart = Date.now();
                  }
                  else if(this.isAvailable && eventType === 'end'){
                    this.isAvailable = false;
                    availableTime += Date.now() - availableTimeStart;
                  }
                  break;
              default:
                  console.log("Unknown type");
          }
      },

        /*start(type){
          if(type==="work"){
            workingTimeStart = this.initiate(this.isWorking,true)
            if(!this.isWorking){
              this.end("available");
              this.isWorking = true;
              workingTimeStart = Date.now();
            }
          }else if(type === "rest"){
            if(!this.isResting){
              this.isResting = true;
              restTimeStart = Date.now();
            }
          }else if(type === "available"){
            availableTimeStart = this.initiate(this.isAvailable,true)
            if(!this.isAvailable){
              this.isAvailable = true;
              availableTimeStart = Date.now();
            }
          }
        },*/

        /*end(type){
          if(type==="work"){
            if(this.isWorking){
              this.isWorking = false;
              workedTime += Date.now() - workingTimeStart;
            }
          }else if(type === "rest"){
            if(this.isResting){
              this.isResting = false;
              restTime += Date.now() - restTimeStart;
            }
          }else if(type === "available"){
            if(this.isAvailable){
              this.isAvailable = false;
              availableTime += Date.now() - availableTimeStart;
            }
          }
        },*/

        startTimer() {
          if (!this.timerRunning)
          {
            this.timerRunning = true;
            this.timer = setInterval(() => {
            this.seconds++;
            if (this.seconds === 10) {
              if(this.isWorking && (workedTime + Date.now()-workingTimeStart) >= 5000){
                let notification = new Notification('Notificação Teste 10s', {
                body: 'body',
                icon: "{{ url_for('static', filename='notification.ico') }}",
                tag: 'tag',
                data: 'data'
                });
                setTimeout(notification.close.bind(notification), 4000);
              }
            }
            if (this.seconds === 60) {
              this.seconds = 0;
              this.minutes++;
            }
            if (this.minutes === 60) {
              this.minutes = 0;
              this.hours++;
              if(this.isWorking && (workedTime + (Date.now()-workingTimeStart)) >= 3600000*7){
                new Notification('Notificação Teste > 7Hrs', {
                body: 'body',
                icon: "{{ url_for('static', filename='notification.ico') }}",
                tag: 'tag',
                data: 'data'
                });
              }
            }
          }, 1000);
          }
          else{
            console.log('Inicio da condução');
            this.timeEventHandler("work",'start');
            //this.start("work");

          }
          
        },
        
        stopTimer() {
          console.log('Fim da condução');
          clearInterval(this.timer);
          this.timerRunning = false;
          //this.end("work");
          //this.end("available");
          this.timeEventHandler("work","end");
          this.timeEventHandler("available","end");

        },
        
        resetTimer() {
          clearInterval(this.timer);
          this.hours = 0;
          this.minutes = 0;
          this.seconds = 0;
          this.timerRunning = false;
        },
        
        get formattedTime() {
          return (
            String(this.hours).padStart(2, '0') + ':' +
            String(this.minutes).padStart(2, '0') + ':' +
            String(this.seconds).padStart(2, '0')
          );
        },

        becomeAvailable(){
          if (!this.isAvailable){
            if(this.isResting){
              //this.end("rest");
              this.timeEventHandler("rest","end");

            }
            this.timeEventHandler("available","start")
            //this.start("available");
            console.log('Inicio do dia ou atividade');
            this.startTimer();
          }
        },

        endTimer(){
          let confirm_action = confirm('Quer mesmo acabar o dia ?');
          if (confirm_action){
            //this.initialLocationReceived = false;
            this.timeEventHandler("work","end");
            this.timeEventHandler("available","end");
            this.timeEventHandler("rest","end");
            //this.end("work");
            //this.end("available");
            //this.end("rest");
            workedTime = 0;
            this.timerRunning =  false;
            console.log ('fim de expediente ->'+ this.formattedTime);
            this.resetTimer();
          }
          

        },
        
        enableLocation() {
          navigator.geolocation.watchPosition((position) => {
            const newCoords = { lat: position.coords.latitude, lon: position.coords.longitude };

            if (this.isAvailable && this.distance(this.initialCoords, newCoords) >= 0.01) { // Only start timer after initial location
              this.startTimer();
            } else {
              //this.initialLocationReceived = true; // Mark initial location received
              this.initialCoords = newCoords; // Update initial coordinates
            }
          });
          this.locationEnabled = true;
        },

      distance(coord1, coord2) {

        const latDif = (Math.abs(coord1.lat) - Math.abs(coord2.lat))/100
        const lonDif = (Math.abs(coord1.lon) - Math.abs(coord2.lon))/100
        console.log(Math.abs(latDif+lonDif));
        return Math.abs(latDif+lonDif)
      }

    }

    }
  </script>

  <script>
    htmx.onLoad(function (target) {
      let app = document.querySelector('[x-data]');
      app.__x.$data.enableLocation();
      if (Notification.permission !== 'granted') {
        Notification.requestPermission()
      }
  });
    
  </script>
</body>
</html>
