<div class="box container">
    {% include 'base/notifications.html' %}
<div class="box">
    
    <form action="{{data.return}}" method="post">
        <div class="field">
            <label class="label">Register Your Vehicle</label>
            <div class="control">
            Model: <input class="input" type="text" name='model' placeholder="Type your Model Name">
            </div>
            <div class="control">
            License Plate: <input class="input" type="text" name='licensePlate' placeholder="Type your licensePlate">
            </div>
            <hr>
            <div align="right">
                <button class="button is-primary">Register</button>
            </div>
        </div>
        </form>
    </div>
</div>