<div x-data="{ isVisible: true }" id="div_form">
    <div x-show="isVisible" class="box container">
        <div align="right">
            <button class="delete" @click="isVisible = !isVisible"></button>
        </div>
        {% include 'base/notifications.html' %}
        <div>

            <form hx-post="{{data.return}}" hx-target="#div_form" hx-swap="outerHTML">
                <div class="field">
                    <label class="label">Register Your Vehicle</label>
                    <div class="control">
                        Model: <input class="input" type="text" name='model' placeholder="Type your Model Name">
                    </div>
                    <div class="control">
                        License Plate: <input class="input" type="text" name='licensePlate'
                            placeholder="Type your licensePlate">
                    </div>
                    <hr>
                    <div align="right">
                        <button class="button is-primary">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>