{% extends 'base/base.html' %}

{% block header %}
{% endblock %}

{% block content %}
{% include 'base/notifications.html' %}
<div class="container">
    <br>
    <h3 class="title is-3">Company Info</h3>
    <div class="box">

        <div class="fixed-grid has-1-cols">
            <div class="grid">
                <div class="cell"><span class="tag is-medium">Name: {{ company.name }}</span></div>
                <div class="cell"><span class="tag is-medium">Description: {{company.description}}</span></div>
                <div class="cell"><span class="tag is-medium">Address: {{ company.address }}</span></div>
                <div class="cell"><span class="tag is-medium">VatCode(NIF): {{company.vatcode}}</span></div>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <h3 class="title is-3">Employees</h3>
        </div>
        <div class="column">
            <div align="right">
                {% if current_user.userTypeId == 1 %}
                <button class="button" hx-target="#addUser" hx-swap="innerHTML"
                    hx-get="/signup_worker/{{company.id}}">Add User</button>
                
                {% endif %}
            </div>
        </div>
    </div>

    <div class="box">
        {% for user in users_company %}
        {% if user %}
        <p>{{user.name}} (Ident.(NIF) {{user.userIdentification}})</p>
        {% endif %}
        {% endfor %}
    </div>
    <div id="addUser"></div>


    <div class="columns">
        <div class="column">
            <h3 class="title is-3">Vehicles</h3>
        </div>
        <div class="column">
            <div align="right">
                {% if current_user.userTypeId == 1 %}
                <button class="button" hx-target="#addCar" hx-swap="innerHTML"
                    hx-get="/vehicle/add/{{company.id}}">Add Vehicle</button>
                
                {% endif %}
            </div>
        </div>
    </div>

    <div class="box">
        {% for vehicle in vehicles_company %}
        {% if vehicle %}
        <p>{{vehicle.model}} ({{vehicle.licensePlate}})</p>
        {% endif %}
        {% endfor %}
    </div>
    <div id="addCar"></div>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <h3 class="title is-3">Map</h3>

    <div id="map" x-data="mapData()" x-init="initMap" style="height: 400px;"></div>
    <script>
        function mapData() {
            return {
                map: null,
                markers: [],

                async initMap() {
                    // Initialize Leaflet map
                    this.map = L.map('map');

                    // Add Tile layer to the map
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        maxZoom: 16,
                    }).addTo(this.map);

                    // Fetch marker data from API
                    try {
                        const response = await fetch('/geolocation/list/{{company.id}}');
                        const data = await response.json();
                        this.markers = data;
                        // Add markers to the map
                        this.markers.forEach(marker => {
                            L.marker([marker.latitude, marker.longitude]).addTo(this.map)
                                .bindPopup(marker.userName+' ['+marker.model+'] ['+marker.eventCategory+']')
                                .openPopup();
                        });
                        const bounds = this.markers.map(marker => [marker.latitude, marker.longitude]);
                        this.map.fitBounds(bounds);
                    } catch (error) {
                        console.error('Error fetching marker data:', error);
                    }
                }
            };
        }
    </script>


   
    
</div>
{% endblock %}