{% block content %}
{% include 'base/notifications.html' %}
    <div class="box container">
        
        <form hx-post="{{data.return}}">
            <div class="control">
                <label for="email">Email: </label><input class="input" type="email" name='email'
                    placeholder="Digite seu email">
            </div>
            <div align="right">
                <button id="a" class="button is-primary" data-loading-class="is-loading">
                    <p><i class="fa-solid fa-paper-plane fa-lg"></i> Enviar</p>
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}