{% block content %}
<div id="form_forgot">
    <div class="box">
        {% include 'base/notifications.html' %}
        <hr>
        <form hx-post="{{data.return}}" hx-target=".containerNotifications" hx-swap="outerHTML">
            <div class="control">
                <label class="label" for="email">Email: </label><input class="input" type="email" name='email'
                    placeholder="Digite seu email" id="email">
            </div>
            <hr>
            <div align="right">
                <button class="button is-light" hx-trigger='click' hx-target="#form_forgot"
                    hx-get="{{ url_for('login') }}" hx-swap="innerHTML" data-loading-class="is-loading">
                    <p><i class="fa-solid fa-arrow-left fa-lg"></i></p>
                </button>
                <button id="a" class="button is-primary" data-loading-class="is-loading">
                    <p><i class="fa-solid fa-paper-plane fa-lg"></i> Enviar</p>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}