{% extends 'base/base.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-body">
          <p class="title">{% block title %}Driver Booklet{% endblock %}</p>
          <p class="subtitle">{% if user %}
                            Current User Logged: {{user.name}}
                {% endif %}
            </p>
        </div>
        
      </section>
    
    {% if user is not defined %}
    <a class="navbar-item" hx-trigger="click" hx-get="{{ url_for('login') }}" hx-swap="outerHTML">
        Login
    </a>
    <a class="navbar-item" hx-trigger="click" hx-get="{{ url_for('signup') }}" hx-swap="outerHTML">
        Signup
    </a>
    {% endif %}
    {% if user %}
    <a class="navbar-item" href="{{ url_for('timer') }}">
        Timer
    </a>
    <a class="navbar-item" href="{{ url_for('profile') }}">
        Profile
    </a>
    <a class="navbar-item" href="{{ url_for('logout') }}">
        Logout
    </a>
    {% endif %}
      
{% endblock %}
