{% extends 'base/base.html' %}

{% block header %}
{% endblock %}

{% block content %}
{% include 'base/notifications.html' %}
<div class="container">
    <br>
    <div class="column">
        <h3 class="title is-3">Suas informações</h3>
    </div>
    <div class="box">
        <div class="fixed-grid has-1-cols">
            <div class="grid">
                <div class="cell"><span class="tag is-medium">
                        <p><b>Nome:</b> {{ current_user.name }}</p>
                    </span></div>
                <div class="cell"><span class="tag is-medium">
                        <p><b>identificação do usuário:</b> {{ current_user.userIdentification
                            }}</p>
                    </span></div>
                <div class="cell"><span class="tag is-medium">
                        <p><b>Telefone:</b> {{ current_user.phone }}</p>
                    </span></div>
                <div class="cell"><span class="tag is-medium">
                        <p><b>Endereço:</b> {{ current_user.address }}</p>
                    </span></div>
                <div class="cell"><span class="tag is-medium">
                        <p><b>Email:</b> {{ current_user.email }}</p>
                    </span></div>
                <div class="cell"><span class="tag is-medium">
                        <p><b>Data de nascimento:</b> {{ current_user.birthDate }}</p>
                    </span></div>
                <div class="cell"><span class="tag is-medium">
                        <p><b>Começou a trabalhar em:</b> {{ current_user.startWork }}</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <h3 class="title is-3">Empresas</h3>
    </div>
    <div class="box">
        <div class="fixed-grid has-1-cols-mobile">
            <div class="grid">
                {% for company in companies %}
                <span class="cell tag is-medium has-text-dark has-background-info-light">{{ company.name }}
                        ({{company.vatcode}})</span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}