{% extends 'base/base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <h3 class="title is-3">Reports</h3>
    <div class="box">

        <div class="fixed-grid has-1-cols">
            <div class="grid">
                <div class="cell"><span class="tag is-medium">Name: {{ current_user.name }}</span></div>
                <div class="cell"><span class="tag is-medium">User identification: {{ current_user.userIdentifcation
                        }}</span></div>
                <div class="cell"><span class="tag is-medium">Phone: {{ current_user.phone }}</span></div>
                <div class="cell"><span class="tag is-medium">Address: {{ current_user.address }}</span></div>
                <div class="cell"><span class="tag is-medium">Email: {{ current_user.email }}</span></div>
                <div class="cell"><span class="tag is-medium">Birthdate: {{ current_user.birthDate }}</span></div>
                <div class="cell"><span class="tag is-medium">Started Working on: {{ current_user.StartWork }}</span>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
</div>
{% endblock %}