{% extends 'base/base.html' %}

{% block header %}
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
<style>
    .content-button{
        margin-bottom: 10px;
        margin-right: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <br>
    <div class="column">
        <span class="title is-3">Relatórios</span>
        <span class="icon has-text-info">
            <button class="fas fa-info-circle" onclick="tutorial('reports');"></button>
        </span>
    </div>
    <div class="box" id="form-box">
        {% include 'base/notifications.html' %}
        <form action="/reports/pdf" method="post">
            {% if current_user.userTypeId != 1 %}
            <label class="label req" for="selectCompany">Empresa: </label>
            <div hx-target="#selectCompany" class="select" hx-get="/company/list" hx-trigger="load" hx-swap="innerHTML">
                <select id="selectCompany" name="idCompany" x-model="idCompany" required>
                </select>
            </div>
            {% else %}
            <div hx-get="/company/list" hx-trigger="load" hx-target="#idCompany" hx-swap="innerHTML"></div>
            <label class="label req" for="idCompany">Empresa: </label>
            <div class="select">
              <select id="idCompany" name="idCompany" x-model="idCompany" hx-target="#selectWorker"
                hx-post="/worker/select" hx-swap="innerHTML" required>
              </select>
            </div>
            <label class="label req" for="selectWorker">Colaborador: </label>
            <div class="select">
              <select id="selectWorker" name="idUser" x-model="idUser" required></select>
            </div>

            {% endif %}
            <label class="label req" for="dateStart">Data início: </label>
            <input class="input" id="dateStart" name="dateStart" type="date" required>
            <label class="label req" for="dateEnd">Data fim: </label>
            <input class="input" id="dateEnd" name="dateEnd" type="date" required>
            <hr>

            <div align="right">
                <button id="reportPdf" class="button is-success content-button" data-loading-class="is-loading">
                    <p>Download pdf do relatório <i class="fa-solid fa-file-arrow-down fa-lg"></i></p>
                </button>
                <button id="reportEmail" class="button is-primary content-button" data-loading-class="is-loading" hx-post="/reports/mail" hx-include="closest form">
                    <p>Enviar pdf do relatório por email <i class="fa-solid fa-envelope fa-lg"></i></p>
                </button>
                <button hx-target="#reportGenerated" hx-post="/reports" hx-include="closest form" id="reportButton" class="button is-info content-button" data-loading-class="is-loading">
                    <p>Visualizar relatório <i class="fa-solid fa-file-lines fa-lg"></i></p>
                </button>
            </div>
        </form>

    </div>
    <div id="reportGenerated">
    </div>



</div>
{% endblock %}