{% extends 'base/base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
<script src="static/timer.js" type="text/javascript"></script>
  <div x-data="stopwatch()">
    <div class="container">
          <div class="stopwatch" >
            <br>
            <h1 class="title is-3">Registo de tempo</h1>
              <br>
              <br>
              <br>
            
            <div class="box" align="center" hx-target="tbody" hx-get="/timer/update/{{ current_user.id }}" hx-swap="outerHTML transition:true">
            <p class="subtitle is-3" x-text="formattedTime" ></p>

              <!-- <div class="field has-addons" > -->
                <div>
                <p class="control block">
                  <button class="button is-dark" @click="becomeAvailable" x-show="!isAvailable && !isWorking && locationEnabled">Ficar disponivel</button>
                </p>
                <p class="control block"">
                  <button class="button is-primary" @click="startTimer" x-show="isAvailable && locationEnabled && !isWorking">Começar Trabalho</button>
                </p>
                <p class="control block"">
                  <button class="button is-link" @click="stopTimer" x-show="timerRunning">Repousar</button>
                </p>
                <p class="control block"">
                  <button class="button is-warning" @click="endTimer">Fim do Expediente</button>
                </p>
              </div>
              <!-- </div> -->
            </div>
            <table class="table box block">
              <thead>
                <tr>
                  <th>Data Inicio</th>
                  <th>Data Fim</th>
                  <th>Tipo Evento</th>
                  <th>Tempo (em Horas)</th>
                </tr>
              </thead>
              <tbody>
               
              </tbody>
           
          </div>
    </div>
  </div>
  
  <script>
    
    htmx.onLoad(function (target) {
      let app = document.querySelector('[x-data]');
      app.__x.$data.enableLocation();
      if (Notification.permission !== 'granted') {
        Notification.requestPermission()
      }
    });
    
  </script>
{% endblock %}
