{% extends 'base/base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>
<script src="static/timer.js" type="text/javascript"></script>
<div x-data="stopwatch()">
  <div class="container">
    <div class="stopwatch">
      <br>
      <div class="column">
        <h3 class="title is-3">Registo de tempo</h3>
      </div>
      <br>
      <br>

      <div class="modal is-active" x-show="isModalVisible">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <span class="icon has-text-info">
              <button class="fas fa-info-circle" onclick="tutorial('timer');"></button>
            </span>
            <p class="modal-card-title">Registre os Quilômetros </p>
            
            
            
            <div align="right">
              <button class="delete" onclick="window.location.href = '/profile'" ></button>
            </div>

          </header>
          <section class="modal-card-body">

            <div hx-get="/company/list" hx-trigger="load" hx-target="#idCompany"
              hx-swap="innerHTML"></div>

            <label class="label" for="idCompany">Empresa: </label>
            <div class="select">
              <select id="idCompany" name="idCompany" x-model="idCompany" hx-target="#selectCar"
                hx-post="/vehicle/select/" hx-swap="innerHTML">
              </select>
            </div>
            <label class="label" for="selectCar">Veículo: </label>
            <div class="select">
              <select id="selectCar" name="idVehicle" x-model="idVehicle" hx-target="#mileage"
                hx-post="/vehicle/current_mileage" hx-swap="outerHTML">
              </select>
            </div>
            <label class="label" for="mileage">Quilômetros: </label>
            <input id="mileage" name='mileage' class='input' type="number" step="0.01" required />
          </section>
          <input type="hidden" name="geolocation" x-model="stringCoords">
          <footer class="modal-card-foot is-justify-content-right">
            <div class="buttons">
              <button hx-post='/vehicle/mileage' hx-swap="none" hx-include="select,[name='mileage']"
                hx-vals="js:{eventTimestamp: new Date().toLocaleString('en-US', {hour12: false}),idType:7}"
                @htmx:after-request="closeModal()" class="button is-success" x-show="idCompany && idVehicle"
                data-loading-class="is-loading"><p><i class="fa-solid fa-floppy-disk fa-lg"></i> Salvar</p></button>
            </div>
          </footer>
        </div>
      </div>
      <div class="column">
        <h4 class="title is-4" x-text="currentActivityName"></h4>
      </div>
      <div class="box" align="center">
        <p class="subtitle is-3" x-text="formattedTime"></p>

        <div id="control-panel">


          <div class="control block" x-show='isEnd'>
            <a id="vehicle_button" class="button is-info" @click="openModal()">
              <p><i class="fa-solid fa-car"></i> Escolher Veículo</p>
            </a>
          </div>


          <div class="control block" x-show='!isAvailable & !isWorking & !isEnd'>
            <a @htmx:after-request="updateTimer(mode='availability_start')" class="button is-warning"
              hx-post="/event_data" hx-swap="none" hx-include="select,[name='geolocation']"
              hx-vals="js:{eventTimestamp: new Date().toLocaleString('en-US', {hour12: false}),idType:5}">
              <p><i class="fa-solid fa-briefcase"></i> Ficar disponível</p>
            </a>
          </div>

          <div class="control block" x-show='!isWorking && isAvailable'>
            <a @htmx:after-request="updateTimer(mode='work_start')" hx-trigger="click,start_working from:body"
              class="button is-primary" hx-post="/event_data" hx-swap="none" hx-include="select,[name='geolocation']"
              hx-vals="js:{eventTimestamp: new Date().toLocaleString('en-US', {hour12: false}),idType:1}">
              <p><i class="fa-solid fa-car"></i> Trabalhar</p>
            </a>
          </div>

          <div class="control block" x-show='!isResting && isAvailable||isWorking'>
            <a @htmx:after-request="updateTimer(mode='rest_start')" class="button is-link" hx-post="/event_data"
              hx-swap="none" hx-include="select,[name='geolocation']"
              hx-vals="js:{eventTimestamp: new Date().toLocaleString('en-US', {hour12: false}),idType:3}">
              <p><i class="fa-solid fa-bed"></i> Descansar (Pausar)</p>
            </a>
          </div>

          <div class="control block" x-show='!isEnd && isWorking||isResting||isAvailable'>
            <a @htmx:after-request="updateTimer(mode='day_end')" class="button is-danger" hx-post="/event_data"
              hx-swap="none" hx-include="select,[name='geolocation']"
              hx-vals="js:{eventTimestamp: new Date().toLocaleString('en-US', {hour12: false}),idType:9}"
              hx-confirm="Quer mesmo finalizar a sessão?">
              <p><i class="fa-brands fa-creative-commons-nd"></i> Finalizar Trabalho</p>
            </a>
          </div>

        </div>
      </div>
      <div class="column">
        <h4 class="title is-4">Total de Horas</h4>
      </div>
      <div class="box block">
        <div align="right">
          <button class="button is-light is-small" hx-trigger="load, click, click from:#control-panel"
            hx-target="#progress-bar" hx-get="/timer/progress/{{ current_user.id }}"
            hx-swap="innerHTML transition:true">
            <span class="icon">
              <i class="fas fa-refresh"></i>
            </span>
          </button>
        </div>
        <div id="progress-bar"></div>

      </div>

    </div>
  </div>
</div>

<script>
  htmx.onLoad(function (target) {
    let app = document.querySelector('[x-data]');
    app.__x.$data.enableLocation();
    if (Notification.permission !== 'granted') {
      Notification.requestPermission()
    }
  });

</script>
{% endblock %}